h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

textarea.form-control {
    min-height: calc(100vh - 140px);
    white-space: pre-wrap;
    border: none;
}

textarea:hover,
textarea:active,
textarea:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.modal-header {
    border: none;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    border: gray;
}

.card-body {
    cursor: pointer;
    border: none;
}

.card-footer {
    border: none;
    cursor: pointer;
}

.card-text {
    white-space: pre-wrap;
    cursor: pointer;
}

.w3-tag {
    border-radius: 10px;
    margin: 2px;
    color: rgb(255, 166, 0);
}

.btn-sm {
    font-size: 0.6em;
}

.modal-footer {
    justify-content: flex-start;
    border: none;
}

.new-tag {
    cursor: pointer;
}

/* .search-container {
    border: none;
}

.search-bar:hover,
.search-bar:active,
.search-bar:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} */